#header {
  .fixed {
    width: 33vw;
    height: 100%;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../img/background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    > img {
      width: 180px;
    }
  }
}
